<head>
  <style>
      .jumbotron {
          background-color: #dcdcdc;
          border: 30px;
          padding-right: 30px;
          padding-left: 30px;
          padding-bottom: 30px;
      }
  </style>
</head>
<div class="jumbotron" id="<%= dom_id friend %>">
  <div class="" id="tagline">
    <h3><%= friend.first_name %>
      <%= friend.last_name %>
    </h3>
  </div>
  <div class="col m6">

    <div class="divider"></div>
    <%= friend.email %>
    |
    <%= friend.phone %>

    <p>
      @<%= friend.social_media %>
    </p>


  </div>
  <div>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-flat blue waves-effect waves-light white-text" %>
    <%= link_to "Back to friends", friends_path, class: "btn btn-flat blue waves-effect waves-light white-text" %>
    <br>
    <br>
    <%= button_to "Destroy this friend", @friend, method: :delete, class: "btn btn-flat blue waves-effect waves-light white-text" %>
  </div>

</div>
